rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // leitura liberada
      allow read;
      // gravação apenas se o caminho começar com “convites/”
      allow write: if request.resource != null
                   && request.resource.name.matches('^convites/.*');
    }
  }
}
