footer {
    background-color: #9f7aea;

    color: white;
    text-align: center;
    padding: 1rem;
  }

  #footer_itens {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
  }

  #copyright {
    color: var(--color-neutral-1);
    font-weight: 500;    
  }

  @media screen and (max-width: 600px) {
    #footer_itens {
        flex-direction: column;
        gap: 20px;

    }

  }