header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 7;
    
  
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img_logo {
    display: block; /* Remove qualquer espaçamento extra abaixo da imagem */
    height: auto; /* Mantém a proporção da altura */
    width: 100%; /* Faz a imagem ocupar toda a largura do link pai */
    max-width: 150px; /* Define uma largura máxima para não estourar o layout */
    max-height: 50px; /* Define uma altura máxima */

    
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 40px;
    
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;

}

.nav-item.active a {
    border-bottom: 3px solid #d8b4f6;
    padding-bottom: 4px;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}


@media screen and (max-width: 1170px) {
        #nav_list,
        #navbar .btn-default {
            display: none;
            
        }


        #mobile_btn {
            display: block;
            border: none;
            background-color: transparent;
            font-size: 1.5rem;
            cursor: pointer;
            
        }

        #mobile_menu.active {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        #mobile_nav_list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin: 12px 0px;
           
        }
        #mobile_menu.active .nav-item {
            list-style: none;
            text-align: center;
            padding: 12px;
        }


}